

nav{
    margin-bottom: 20px;
    background-color: #44205a;
}

.logo {
    width: 20%;
    margin-left: 20px;
}

.logonav{
    width: 50px;
    height: 50px;
    margin-top: 5px;

}



@media screen and (max-width: 984px) {
    .top{

        flex-direction: column;
    }
}

.top{
    display: flex;
    flex-direction: row;
}

ul{
    padding-left: 50px;
    color: #4ea9a6
}

button{
    margin-top: 10px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    padding: 10px;
    margin-left: 20px;
}

.searchImg{
    width: 20%;
}