<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>SlopeMates</title>
</head>
<body>
<nav class="nav-wrapper">
    <ul>
        <li><img class="logonav" src="/images/Screenshot 2023-08-28 at 7.23.40 PM.png" alt="slopemates logo"/></li>
        <li><a href="/join">Sign up</a> </li>
        <li><a href="/login">Log in</a> </li>
        <li><a href="/logout">Log out</a> </li>
        <li><a href="/searchForm">Search For Slope Mates</a> </li>
    </ul>
</nav>
<div>

<img th:if="${user.base64Image}" th:src="'data:image/jpeg;base64,' + ${user.base64Image}" alt="Profile Image">
<div class="card">
    <p th:text="${user.userName}"></p>
    <p th:text="${user.state}"></p>
    <p th:text="${user.city}"></p>
    <p th:text="${user.bio}"></p>
    <p th:text="${user.snowSport}"></p>
</div>
    <h3>Connection Requests</h3>
    <table>
        <thead>
        <tr>
            <th>Requester Username</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over connection requests for the user -->
        <tr th:each="request : ${connectionRequests}">
            <td th:text="${request.requester != null ? request.requester.userName : Uknown}">Requester Username</td>

            <td>
                <!-- Button to accept request -->
                <form th:action="@{/acceptRequest}" method="post">
                    <input type="hidden" th:name="requestId" th:value="${request.id}" />
                    <button type="submit">Accept</button>
                </form>

                <!-- Button to decline request -->
                <form th:action="@{/declineRequest}" method="post">
                    <input type="hidden" th:name="requestId" th:value="${request.id}" />
                    <button type="submit">Decline</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
        <table>
            <thead><tr>
                <th>Name</th>
            </tr></thead>
            <tbody>
            <tr th:each="userConnections : ${user.connections}">
                <td th:text="${userConnections.userName}"></td>
            </tr>
            </tbody>
        </table>

</div>
</body>
</html>