<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>SlopeMates</title>
</head>
<body>
<nav class="nav-wrapper">
    <ul>
        <li><img class="logonav" src="/images/Screenshot 2023-08-28 at 7.23.40 PM.png" alt="slopemates logo"/></li>
        <li><a href="/join">Sign up</a> </li>
        <li><a href="/logout">Log out</a> </li>
        <li><a href="/searchForm">Search For Slope Mates</a> </li>
    </ul>
</nav>
<div>
<div class="container">

<div class="card z-depth-5">
    <img class="searchImg circle"th:if="${user.base64Image}" th:src="'data:image/jpeg;base64,' + ${user.base64Image}" alt="Profile Image">
    <p th:text="${user.userName}"></p>
    <p th:text="${user.state}"></p>
    <p th:text="${user.city}"></p>
    <p th:text="${user.snowSport}"></p>
    <p th:text="${user.bio}"></p>
</div>

    <div class="card">
    <h3>Friend Requests</h3>
    <table>
        <thead>
        <tr>
            <th>Requester Username</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over connection requests for the user -->
        <tr th:each="request : ${user.connectionRequests}">
            <td th:text="${request.id != null ? request.userName : Uknown}">Requester Username</td>

            <td>
                <!-- Button to accept request -->
                <form th:action="@{/acceptRequest}" method="post">
                    <input type="hidden" th:name="rec" th:value="${user.id}"/>
                    <input type="hidden" th:name="req" th:value="${request.id}"/>
                    <button type="submit">Accept</button>
                </form>
</td>
    <td>            <!-- Button to decline request -->
                <form th:action="@{/declineRequest}" method="post">
                    <input type="hidden" th:name="rec" th:value="${user.id}"/>
                    <input type="hidden" th:name="req" th:value="${request.id}"/>
                    <button type="submit">Decline</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
    </div>
        <div class="card">
        <h3>Friends</h3>
        <table>
            <thead><tr>
                <th>Name</th>
            </tr></thead>
            <tbody>
            <tr th:each="userConnections : ${user.connections}">
                <td th:text="${userConnections.userName}"></td>
            </tr>
            </tbody>
        </table>
            </div>
    </div>
</div>

</body>
</html>